* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  padding: 50px 0;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cards li {
  cursor: pointer;
}

.cards li img {
  width: 100%;
  display: block;
}

.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.dimm.show {
  visibility: visible;
}

.dimm img {
  height: 80%;
}
